* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    font-size: 0.75rem;
}

/* HEADER */

.header {
    display: flex;
    flex-direction: column;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    position: absolute;
    margin: 0 0 0 6vw;
    z-index: 1;
}

.header__banner {
    width: 100%;
}

.header__nav a {
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 1rem 1.125rem;
}

.header__nav a:hover {
    background-color: rgba(146, 201, 206, 0.6);
    color: white;
}

.header__nav a.active {
    background-color: #92C9CE;
    color: white;
}

.body__nav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 1rem 1.125rem;
}

.body__nav a:hover {
    background-color: #EADCDC;
    color: #660000;
}

.body__nav a.active {
    background-color: #ffffff;
    color: #660000;
}

/* BODY & STRUCTURE */

.page__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 2rem 4rem 2rem
}

.body__store__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body__store__title__text {
    width: 100%;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.75rem;
    color: #660000;
    border-bottom: #660000 0.125rem solid;
}

.body__divider hr {
    border-top: 0.75rem solid #444444;
}

.body__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

/* PRODUCT CARD */

.product__card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 0.125rem solid #1C8E99;
}

.card__header {
    text-align: center;
    padding: 0.25rem;
    background-color: rgba(28, 142, 153, 0.4);
}

.card__content {
    height: 100%;
    padding: 0 0.5rem;
}

.card__content img {
    width: 100%;
    padding-bottom: 1rem;
}

.card__footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #1C8E99;
}

.card__footer__image img {
    width: 100%;
    cursor: pointer;
}

/* SERVICE CARD */

.service__card {
    display: flex;
    flex-direction: column;
    border: 2px solid #660000;
    background-color: #660000;
    width: 100%;
}

.service__card img {
    width: 100%;
    background-color: white;
}

.service__card__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 1rem;
}

.service__card__content h2 {
    padding: 1rem .5rem;
}

.service__card__content p {
    padding: 0 .5rem 1rem .5rem;
}

/* FOOTER */

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15% 0 2%;
}

.footer__up img {
    max-width: 10rem;
}

.footer__mid {
    display: flex;
    flex-direction: row;
    gap: 30rem;
    justify-content: flex-start;
    align-items: center;
    max-height: 96px;
}

.footer__logo {
    padding: 2rem;
}

.footer__mid p {
    max-width: 28rem;
}

.footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 0 4rem 0 0;
    max-height: 2rem;
}

.img__professor {
    position: relative;
    align-self: flex-end;
}

.img__professor img {
    width: 100%;
}

/* EXTRAS */
.bg--dark--red {
    background-color: #660000;
}

.bg--light--red {
    background-color: rgba(102, 0, 0, 0.4);
}

.bg--dark--blue {
    background-color: #1C8E99;
}

.bg--light--blue {
    background-color: rgba(28, 142, 153, 0.4);
}

.border--red {
    border-color: #660000;
}

.border--blue {
    border-color: #1C8E99;
}

.tahoma--title {
    font-family: Tahoma, sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
}

.tahoma--price {
    font-family: Tahoma, sans-serif;
    font-size: 1.875rem;
}

.tahoma--description {
    font-family: Tahoma, sans-serif;
    font-size: 0.875rem;
}

.font--red {
    color: #660000;
}

.font--blue {
    color: #1C8E99;

}

.font--white {
    color: white;
}

@media screen and (max-width: 991px) {
    .tahoma--price {
        font-size: 1.2rem;
    }

    .footer__up img {
    max-width: 8rem;
    }
    .footer__mid {
    gap: 0;
    justify-content: space-evenly;
    }
}

@media screen and (max-width: 767px) {
    body {
        font-size: 0.5rem;
    }
    .header__logo {
        max-width: 20vw;
        margin: 0 0 0 2vw;
        display: none;
    }
    .body__cards {
        grid-template-columns: 1fr;
    }
    .product__card {
        gap: .5rem;
    }
    .footer__up img:first-child {
        display: none;
    }
    .footer__up {
        justify-content: space-evenly;
        padding: 0;
    }
    .footer__mid {
        justify-content: center;
    }
    .footer__mid p {
        display: none;
    }
    .footer__bottom {
        justify-content: center;
        padding: 0;
    }
    .footer__bottom img {
        display: none;
    }
}